@import 'normalize';
@import 'skeleton';
@import 'font-awesome';

$color-background: #375983;
$color-font-normal: #fff;
$color-name: #50E3C2;
$color-menu-backgroud: rgba(240, 255, 248, 0.2);
$color-menu-border: #979797;
$color-link: $color-font-normal;
$color-link-hover: #1EAEDB;

$left-menu-width: 400px;

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: $color-background;
  color: $color-font-normal;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  color: $color-name;
}

a {

}

i {
  margin-right: 0.5em;
}

#App {
  display: flex;
  flex-direction: row;
  height: 100%;
  perspective: 800px;
}

.App__Left {
  display: flex;
  flex-direction: column;
  width: $left-menu-width;
  padding: 4em 0;
  transition: all 500ms 100ms;
}

.App__Left--rotate {
  transform: rotateY(30deg);
}

.App__Profile {
  display: flex;
  width: 100%;
}

.App__Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 1em 0;

  li {
    width: 60%;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 0.5em 1em;
    margin: 1em 0;
    line-height: 1em;
    color: $color-font-normal;
    background: $color-menu-backgroud;
    border: 1px solid $color-menu-border;
    transition: all 100ms;
  }

  button:active {
    transform: scale(1.1);
  }
}

.App__Profile__portrait {
  width: 60%;
  margin: auto;
  img {
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
  }
}

.App__Right {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$left-menu-width});
  align-items: center;
  justify-content: center;

  button {
    padding: 0.3em 0.6em;
    margin: 0;
    line-height: 1em;
    color: $color-font-normal;
    transition: all 100ms;
    border: 0;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.App__Intro {
  margin-left: -10%;
  margin-top: -15%;
}

.App__Intro__name {
  font-size: 76px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.App__Links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0 20%;

  a {
    font-size: large;
    padding-right: 1em;
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.App__Menu__home {
  transform: scaleY(0);
  overflow: hidden;
  transition: all 100ms;
  transform-origin: bottom;
}

.App__Menu__home--expand {
  transform: scaleY(1);
}

.who-am-i .App__Menu__who-am-i button,
.projects-i-built .App__Menu__projects-i-built button,
.my-life .App__Menu__my-life button
{
  border: 3px solid white;
}

.Container {
  width: 580px;

  h1 {
    color: lightcyan;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }

  #App {
    flex-direction: column;
  }

  .App__Left {
    width: 100%;
  }

  .App__Profile {
    display: none;
  }

  .App__Profile__portrait {
    width: 40%;
  }

  .App__Right {
    width: 100%;
  }

  .App__Intro {
    margin: 0 auto;
  }

  .App__Menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    li {
      width: 80px;
    }

    button {
      font-size: 0.5em;
    }

  }

  .App__Links {
    flex-direction: row-reverse;
    padding: 0;
  }

  .App__Left--rotate {
    transform: rotateX(-35deg);
  }

  .Container {
    width: 90%;
  }
}