@import 'normalize';
@import 'skeleton';
@import 'font-awesome';

$color-background: #375983;
$color-font-normal: #fff;
$color-name: #50E3C2;
$color-menu-backgroud: rgba(240, 255, 248, 0.2);
$color-menu-border: #979797;
$color-link: $color-font-normal;
$color-link-hover: #1EAEDB;

$left-menu-width: 400px;

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: $color-background;
  color: $color-font-normal;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  color: $color-name;
}

a {

}

i {
  margin-right: 0.5em;
}

#App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.App__Left {
  display: flex;
  flex-direction: column;
  width: $left-menu-width;
  padding: 4em 0;
  // background-color: rgba(255,255,255,0.3);
}

.App__Profile {
  display: flex;
  width: 100%;
}

.App__Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 1em 0;

  li {
    width: 60%;
    // padding: 0.5em 1em;
    // margin: 1em 0;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 0.5em 1em;
    margin: 1em 0;
    line-height: 1em;
    color: $color-font-normal;
    background: $color-menu-backgroud;
    border: 1px solid $color-menu-border;
  }
}

.App__Profile__portrait {
  width: 60%;
  margin: auto;
  img {
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
  }
}

.App__Right {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$left-menu-width});
  align-items: center;
  justify-content: center;
}

.App__Intro {
  margin-left: -$left-menu-width;
  margin-top: -15%;
}

.App__Intro__name {
  font-size: 76px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.App__Links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0 20%;

  a {
    font-size: large;
    padding-right: 1em;
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}