<h1>Who am I?</h1>
<p>
  I'm Dale, I'm a web/mobile app developer. I do both Ember and React.
  And I'm familiar with gamification, a process of adding value to products via behavioral science.
  I do a lot of reading/learning while not coding.
</p>