<ul>
  {{#if isCoffee}}
    <div>
      Reference: <a href="https://www.homegrounds.co/the-complete-guide-to-coffee-brewing-methods/">
      https://www.homegrounds.co/the-complete-guide-to-coffee-brewing-methods/</a>
    </div>
    <ul>
      <li>Three African</li>
      <li>Giant Steps</li>
      <li>Kona</li>
    </ul>
    <ul>
      <li>Aeropress</li>
      <li>French Press</li>
      <li>Moka Pot</li>
      <li>The Kalita Wave Dripper</li>
      <li>The Vietnamese Drip Filter</li>
      <li>Cold Drip Brewing</li>
    </ul>
  {{/if}}
</ul>