<h1>My Life</h1>
<p>
  I like learning new skills. Here is my learning list for 2017:
</p>
<ul>
  <li>Surfing</li>
  <li>Web Design with Sketch</li>
  <li>React/React Native</li>
  <li>Typescript</li>
</ul>