<div class="App__Left">
  <div class="App__Profile">
    <div class="App__Profile__portrait"><img src="/profile.jpg" /></div>
  </div>
  <ul class="App__Menu">
    <li><button>Who Am I</button></li>
    <li><button>Projects I Built</button></li>
    <li><button>My Life</button></li>
  </ul>
  <ul class="App__Links">
    <li><a href="https://github.com/eguitarz"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/dalema/"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/eguitarz"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>
<div class="App__Right">
  <div class="App__Intro">
    <h2 class="App__Intro__name">Dale Ma</h2>
    <div><i class="fa fa-suitcase"></i>Works at Locus Energy</div>
    <div>Software Engineer • UI UX Designer • Gamification Analyst</div>
    <div>I write javascripts. Mainly in Ember.</div>
  </div>
</div>