<div class="App__Left">
  <div class="App__Profile">
    <div class="App__Profile__portrait"><img src="/profile.jpg" /></div>
  </div>
  <ul class="App__Menu">
    <li><button>Who Am I</button></li>
    <li><button>Projects I Built</button></li>
    <li><button>My Life</button></li>
  </ul>
</div>
<div class="App__Right">
  <div class="App__Intro">
    <h2 class="App__Intro__name">Dale Ma</h2>
    <div>Works at Locus Energy</div>
    <div>Software Engineer • UI UX Designer • Gamification Analyst</div>
    <div>I write javascripts. Mainly in Ember.</div>
  </div>
</div>