<div class="App__Left">
  <div class="App__Profile">
    <div class="App__Profile__portrait"><img src="/profile.jpg" /></div>
  </div>
  <ul class="App__Menu">
    {{#unless isHome}}
      <li><button onclick={{action select "about-me"}}><i class="fa fa-home"></i>Home</button></li>  
    {{/unless}}
    <li><button onclick={{action select "who-am-i"}}>Who Am I</button></li>
    <li><button>Projects I Built</button></li>
    <li><button>My Life</button></li>
  </ul>
  <ul class="App__Links">
    <li><a href="https://github.com/eguitarz"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/dalema/"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/eguitarz"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>
<div class="App__Right">
  {{component page}}
</div>